@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
}

.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item{
    background: cyan;
    border: 1pt solid black;
    width: 13px;
    transition: 0.1s all ease;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
.btn,#size,#speed{
  font-size: 14px;
  font-weight: 400;
}
#size,#speed{
  font-size: 17px;
  font-weight: 400;
}
.newArray{
  font-size: 16px;
  font-weight: 600;
}
h1{
  font-size: 55px;
  font-weight: 500;
}
#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.bar-div{
    transform: scaleX(-1);
    margin-top: 0;
}
.container{
  transform: rotate(180deg);
}
hr{
  border-top: 10px solid;
  margin: 0;
}
p{
  margin: 0;
}
nav{
  margin: 15px;
}
